
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: auto;
    flex-direction: column;
    width: 35em;
    border: 1px solid var(--primary-color);
    margin-top: 10em;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    position: absolute;
    right: 0;
    left: 0;
    transform: translateY(10%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    color: white;
    z-index: -999;
}

.con1:hover h3{
    background-color: gray;
    
}

.con1:hover p{
    position: initial;
    transform: translateY(0%);
    color: black;
    z-index: 0;
}
@media only screen and (max-width:600px) {
  .container {
    width: 20em;
  }
}
